#bienvenue
  .container.jumbotron
    .row
      .col-md-3.hidden-xs.hidden-sm
        #logo
          Kendo GVA
      .col-xs-12.col-sm-12.col-md-9
        %h2
          Bienvenue
        %p
          Nous pratiquons
          = link_to "le Kendo", "#kendo"
          à Genève, en Suisse.
        %p
          =raw "Nous faisons partie du #{link_to "Shung Do Kwan", "http://sdkbudo.ch", target: "_blank"}, un club qui regroupe les pratiquants de divers arts martiaux japonais."
        %p.small
          =raw "Nous sommes membres de la Fédération Suisse de Kendo, elle même affiliée à la #{link_to "Fédération Européenne de Kendo", "http://www.ekf-eu.com/", target: "_blank"} et à la #{link_to "Fédération Internationale de Kendo", "https://www.kendo-fik.org", target: "_blank"}."
        %p.small
          Nous proposons des cours pour débutants et avancés, adultes et enfants.
        %p.small
          =raw "Chaque année au mois de septembre, nous organisons aussi un grand tournoi international: #{link_to "La Coupe Kasahara", "http://kasaharacup.com", target: "_blank", title: "Kasahara Kendo Cup"}."
.container
  .row
    .col-md-9
      - if @last_post
        %section#last_news.panel.panel-default
          .panel-heading
            %h2 Dernière nouvelle
          .panel-body
            = render @last_post
          .panel-footer.text-right
            = link_to "Toutes les nouvelles", posts_path
      %section#horaires
        %h2 Horaires
        .row
          .col-md-6
            %h3 Adultes
            %dl
              %dt Lundi
              %dd 18h30-20h15 (tous niveaux)
              %dt Jeudi
              %dd 18h30-20h00 (débutants)
              %dd 20h00-21h30 (avancés)
          .col-md-6
            %h3 Enfants (dès 8 ans)
            %dl
              %dt Jeudi
              %dd 18h30-19h30
      %section#location
        %h2 Situation
        %p
          Notre Dojo est situé dans la salle de gym de l'école primaire de Cayla à l'adresse suivante:
          %address
            12 rue William-Lescaze
            %br 1203 Genève
          Arrêts TPG “Jean-Jacques” ou “Contrat-Social”
        %iframe#googlemap{src: "https://www.google.com/maps/d/u/0/embed?mid=1xKfb0mA41hccF36sntdqdsMhU9g"}
      %section#debuter
        %h2 Vous voulez nous rejoindre?
        %p
          Nous organisons deux rentrées pour les débutants, au mois de septembre et janvier.
        %p
          = startdate_helper(@startdate)
        %p
          Si vous désirez nous rejoindre, envoyez-nous <a href="#contact">un message</a> pour nous avertir que vous comptez participer à la prochaine rentrée. Ceci facilitera notre organisation.
        %p
          Le jour de la rentrée rejoignez-nous au cours avec une tenue de type “training” ou kimono de judo/karate (si vous en possèdez déjà un). Merci d'être prêt environ 10 minutes avant le début du cours.
        %p
          Si vous ne connaissez pas le kendo, nous vous recommandons de venir assister à une leçon. Le lundi soir, la leçon est mixte (débutants/avancés) et donne donc un très bon aperçu du kendo et de la façon dont il est enseigné dans notre club. N’hésitez pas à nous <a href="#contact">contacter</a> si vous avez des questions.
        %p
          Si vous <strong>pratiquez déjà le kendo</strong>, vous pouvez évidemment rejoindre nos entraînements à tous moments.

      %section#fees
        %h2
          Cotisations annuelles
        %table.table
          %tbody
            %tr
              %th
                Enfants jusqu'à 13 ans
              %td
                390 CHF
            %tr
              %th
                Dès le 2e enfant
              %td
                195 CHF (rabais de 50%)
            %tr
              %th
                Juniors dès l'année civile de leurs 14 ans jusqu'à 20 ans et étudiants
              %td
                460 CHF
            %tr
              %th
                Adultes dès l'année civile de leurs 20 ans
              %td
                660 CHF
            %tr
              %th
                Cotisation annuelle à la Fédération Suisse de Kendo
              %td
                80 CHF (100 CHF la première année)
        %p
          =raw "Vous trouverez plus d'infos sur nos modalités d'inscription et sur nos statuts sur le site du #{link_to "Shung Do Kwan", "http://sdkbudo.ch/index.php/en/sinscrire", target: "_blank"}."
      %section#kids
        %h2
          Cours enfants
        %p
          =raw "Nous proposons des cours aux enfants <strong>dès 8 ans</strong>. Les rentrées pour ces cours se font deux fois par ans, au mois de septembre et janvier."
        %p
          = startdate_helper(@startdate)
        %p
          La Fédération Japonaise définit le Kendo comme un art martial
          %blockquote
            conçu pour discipliner le caractère de l'homme à travers la mise en oeuvre des principes du sabre. Le but de la pratique du Kendo est de former l'esprit et le corps, de cultiver un caractère vigoureux, et, par un entraînement correct et rigoureux, de s'efforcer de progresser dans l'art du Kendo, de tenir en estime la courtoisie et l'honneur, de coopérer avec les autres en toute sincérité, et de toujours poursuivre la culture de soi.
          Dans notre enseignement aux enfants, nous essayons de transmettre au mieux ces valeurs fondamentales.

      %section#contact
        .row
          .col-md-6
            = form_tag email_confirmation_path, method: 'post', html: {role: "form"} do
              = recaptcha_v3(action: "email")
              .panel.panel-default
                .panel-heading
                  %h2 Contactez-nous
                .panel-body

                  .form-group
                    = text_field_tag :name, @name, placeholder: "Nom", class: "form-control"

                  .form-group
                    = text_field_tag :email, @email, placeholder: "Email", class: "form-control"

                  .form-group
                    = text_area_tag :message, @message, placeholder: "Message", rows: 10, class: "form-control"
                  %button.btn.btn-primary
                    %i.fa.fa-envelope
                    Envoyez votre message
          .col-md-6#newsletter
            = form_tag "https://kendo-geneve.us6.list-manage.com/subscribe/post", class: "form" do
              = hidden_field_tag :u, "5545e540aff9e8b07df2f5531"
              = hidden_field_tag :id, "2f8b7857fe"
              .panel.panel-default
                .panel-heading
                  %h2 Newsletter
                .panel-body
                  %p.help-block
                    Inscrivez-vous pour recevoir 1 ou 2 fois par mois des informations concernant nos activités
                  .form-group
                    = text_field_tag 'FNAME', nil, required: true, placeholder: "Prénom", class: "form-control"
                  .form-group
                    = text_field_tag 'LNAME', nil, required: true, placeholder: "Nom", class: "form-control"
                  .form-group
                    = email_field_tag 'EMAIL', nil, required: true, placeholder: "Email", class: "form-control"
                  %button.btn.btn-primary
                    %i.fa.fa-pencil
                    Inscrivez-vous

      %section#calendrier
        %h2 Calendrier
        %iframe#googlecal{src: "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=600&wkst=2&hl=fr&bgcolor=%23ffffff&src=o229hp9cnspcv2ua4gt8kipcm8%40group.calendar.google.com&color=%23182C57&src=chocolatepangolin%40gmail.com&color=%23A32929&ctz=Europe%2FZurich", style: " border-width:0 ", frameborder: "0", scrolling: "no"}
      %section#kendo
        %h2 Le Kendo
        %p
          “Le kendo est la plus ancienne, la plus respectée et la plus populaire des disciplines modernes du Budō” remarque en 1983 Donn F. Draeger, l'un des plus grands spécialistes des arts martiaux japonais.
        %p
          Le kendo (littéralement la voie du sabre) est l'évolution moderne du kenjutsu (l'art du sabre). Cet art guerrier, développé par les samouraïs japonais, est représentatif de plusieurs siècles de combats au sabre (katana). Le kendo n'est pas qu'un sport de combat comme l'escrime. Il comprend également tout un volet spirituel (le "Dô", qui signifie la voie). Cet art martial permet à ses pratiquants de développer leur force de caractère et leur détermination.
        %p
          Le kendo peut être pratiqué comme un art martial, mais c'est également un sport de compétition, aujourd'hui largement pratiqué dans le monde.
        %p
          Si vous voulez en savoir plus sur le kendo, n'hésitez pas visiter
          %a{href: "http://fr.wikipedia.org/wiki/Kendo", target: "_blank"}
            la page Wikipedia
          sur le sujet ou à venir nous rencontrer.
      - if @teachers.present?
        %section#teachers.clearfix
          %h2
            Les enseignants
          - @teachers.each do |teacher|
            .teacher{class: "col-sm-#{@teacher_col_width}"}
              - if teacher.portrait.present?
                = image_tag teacher.portrait.url(:medium), class: 'img-circle img-responsive'
              - else
                %i.fa.fa-user
              %h4
                = teacher.name
                %br
                %small
                  = "#{teacher.grade} Dan"

    .col-md-3
      .panel.panel-default#english
        .panel-heading
          %h4
            You don't speak french?
        .panel-body
          %p
          Please note that our classes are given in french but many of our kenshis also speak some english and are ready to give you any information that you may need. Do not hesitate
          = link_to "to contact us", "#contact"
          for any inquiries regarding our activities.


      .sidebar-nav{role: "complementary"}
        %nav.sidenav.hidden-print.hidden-xs.hidden-sm
          %ul.nav
            %li
              = link_to "Bienvenue", "#bienvenue"
            %li
              = link_to "Dernière nouvelle", "#last_news"
            %li
              = link_to "Horaires", "#horaires"
            %li
              = link_to "Situation", "#location"
            %li
              = link_to "Débuter", "#debuter"
            %li
              = link_to "Cotisations", "#fees"
            %li
              = link_to "Enfants", "#kids"
            %li
              = link_to "Contact", "#contact"
            %li
              = link_to "Newsletter", "#newsletter"
            %li
              = link_to "Calendrier", "#calendrier"
            %li
              = link_to "Kendo", "#kendo"
            %li
              = link_to "Enseignants", "#teachers"
            %li.small
              = link_to "<em>top</em>".html_safe, "#bienvenue"
