%li
  = link_to "où <span class='ampersand'>&</span> quand".html_safe, "#horaires", data: {toggle: "tooltip", placement: "bottom"}, title: "Horaires et Situation"

%li
  = link_to "", ""
%li
  = link_to "", ""
%li
  = link_to "", ""
%li
  = link_to "", ""
%li
  = link_to "", ""
