!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title= @title || "KendoGva"
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "//cdn-images.mailchimp.com/embedcode/classic-081711.css"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    .row
      .col-sm-6.col-sm-offset-3.text-center
        = render 'layouts/messages'
    = yield
    = render 'layouts/footer'
